body {
  margin: 0;
  background-color: #EEEEEE;
}
h1 {
  text-align: left;
  font-weight: 900;
  font-size: 250%;
  color: #222222;
}
h2 {
  text-align: left;
  font-weight: 800;
  font-size: 150%;
  margin: 15px 15px 15px;
  color: #222222;
}
p {
  font-size: 150%;
  margin: 15px 15px 0;
  color: #444444;
}
a {
  text-decoration: none;
  color: #2F5196;
  margin: 15px;
}
a:visited {
  text-decoration: none;
  color: #2F5196;
  margin: 15px;
}
div#nav {
  color: #444444;
  text-align: center;
  font-size: 150%;
  padding: 10px 0;
  background-color: #999999;
}
div#nav h1 {
  text-align: center;
  font-size: 200%;
  margin: 15px 0;
}
div#nav a {
  margin: 15px 15px 0;
  color: #2F5196;
}